.actionDivForm {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.actionEntry{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    /* margin-bottom: 30px; */
}

.submitButton {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.actionTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid black;
    height: 200px;
    overflow-y: scroll;
}

.actionTableRows:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.actionTableHeaders {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px solid black;
}

.actionTableHeaders p {
    width: 200px;
    font-weight: bold;
}

.actionTableRows {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 5px 0;
}

.actionTableRows p {
    width: 200px;
}

.actionDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


